services:
  app:
    build: .
    ports:
      - "5000:5000"
    env_file:
      - .env
    restart: unless-stopped
    # Para garantir persistência de logs se necessário, mas opcional
    volumes:
      - ./logs:/app/logs
